<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../../vue.js"></script>
  <title>Vue Js</title>
</head>
<body>
  <div id="app">
    <h1>{{titulo}}</h1>
    <div v-if="comprou" :style="{backgroundColor: cor}">
      <p>{{lado * lado}}</p>
      <p>{{comprou ? 'Sim ele comprou' : 'Não ele não comprou'}}</p>
      <input v-model="cor" type="color">
      {{cor}}
    </div>
    <a :href="comprou ? href : ''">{{href}}</a>
  </div>

  <script>
    const vm = new Vue({
      el: "#app",
      data: {
        titulo: "Curso de JavaScript",
        conteudo: "Conteudo",
        lado: 6,
        comprou: true,
        href: "https://www.origamid.com",
        cor: '#333',
      }
    })
  </script>
</body>
</html>